html, body {
  font-family: helvetica;
  margin: 0;
  padding: 0;
}

section#Content {
  margin: auto;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 13pt;
}

thead tr {
  border-bottom: 3px solid black;
}

thead tr th {
  padding: 4px;
  text-align: left;
  font-size: 11pt;
}

tbody tr {

  border-bottom: 1px solid silver;
}

tbody tr td {
  padding: 4px;
  font-size: 11pt;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
  overflow: hidden;
}

.right {
  text-align: right;
}

h1 {
  font-size: 14pt;
  margin-top: 26pt;
  margin-bottom: 13pt;
}

p {
  font-size: 11pt;
}

.KeyValueCollection {
  display: flex;
  flex-wrap: wrap;
}

.KeyValueCollection .KeyValueItem {
  width: 250px;

  display: flex;
  margin: 2px;
}

.KeyValueCollection .KeyValueItem .Key {
  font-size: 10pt;
  background-color: #e6e6e6;
  width: 100px;
  padding: 4px;
  border: 1px solid silver;
  text-align: right;
}

.KeyValueCollection .KeyValueItem .Value {
  font-weight: bold;
  font-size: 10pt;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
  border: 1px solid silver;
  border-left: none;
  padding: 4px;
}
